svg {
  display: block;
  min-width: 200px;
  width: 100%;
  height: 97vh;

  .griddy {
    height: 100%;
    display: grid;
    place-content: center;
  }

  .tree-li {
    font-weight: 900;
    cursor: pointer;
    margin-bottom: 5px;
  }

  .active {
    background-color: #537e49;
    color: white;
  }
}
