.flexy {
  height: 97vh;
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: auto;
  // grid-template-areas:
  //   "app-tree-menu app-read-tree";
  // display: flex;
  // justify-content: space-between;
  // align-content: center;
  // flex-flow: row wrap;
}

.flexy-item:nth-child(1) {
  background-color: #eef7eb;
  border-right: 2px solid #537e49;
}

.flexy-item:nth-child(2) {
  background-color: #fdfcff;
}

// .flexy > * {
//   flex: 1 100%;
// }

// @media all and (min-width: 800px) {
//   .flexy-item {
//     flex: 1 1 0;
//   }

//   .flexy-item:nth-child(2) {
//     flex: 2 0;
//   }
// }
